body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}

.main-container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    gap:10px;
    margin:3px;

}
.cuadrado{
    width: 80px;
    height: 80px;
    background-color: #94a8b2;
    outline: none;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.resultado{
    text-align: center;
    font-size: 36px;
}

.boton{
    width: 170px;
    height: 60px;
    border-radius: 16px;
    border:none;
    font-size: 32px;
    background-color: #6AAA64;
    

}

.boton:hover{
    border: 3px solid rgb(230, 127, 10);
    background-color: #fff;
    color: #6AAA64;
    cursor: pointer;
}
  /* Si cambiamos el orden de los estilos tapa el amarillo al verde */
.gold{
    background-color: #e7d31e;
}


.green{
    background-color:#6AAA64;
}


.grey{
    background-color: #94a8b2;
}