.card1{
  background-color: #ffffff;
  border: 3px solid #bdc0c4;
  border-radius: 12px;
  padding: 20px;
  width: 310px;
  margin:10px;
}

.card1 p{
    color:black;
    display: inline;
    color:grey;
}
.texto img{
    color:grey;   
           
  
}
.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.value{
    font-size:20px;
}
.primeraSeccion{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.segundaSeccion{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.card2{
  border: 3px solid #bdc0c4;
  border-radius: 12px;
  padding: 20px;
  width: 710px;
  margin:10px;
}
.tituloCard2 {
  display: flex;            
  align-items: center;      
  gap: 10px;                
}

.tituloCard2 img {
  width: 20px;   
  
}
/* .BtnCard {
  border: 3px solid #bdc0c4;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}

.BtnCardHeader {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px; 
}

.BtnCardHeader h5 {
  margin: 0;
}

.BtnCardHeader button {
  padding: 5px 15px;
}

.BtnCard p {
  margin: 0;
}

.Btn{
  background-color: black;
  color: white;
} */


