.card1{
background-color: #ffffff;
  border: 3px solid #bdc0c4; /* gris claro */
  border-radius: 12px;
  padding: 20px;
  width: 310px;
  margin:10px;
}

.card1 p{
    color:black;
    display: inline;
    color:grey;
}
.texto img{
    color:grey;   
           
  
}
.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.value{
    font-size:20px;
}
.primeraSeccion{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.segundaSeccion{

    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.cardShort{
    width: 430px;
    height: 30px;
    border: 1px solid black;
}
.tituloCard2 {
  display: flex;            
  align-items: center;      
  gap: 10px;                
}

.tituloCard2 img {
  width: 20px;   
  
}