:root {
  color-scheme: white;
  color: rgba(0, 0, 0, 0.87);
  font-family:Arial, Helvetica, sans-serif
}


.logo{
display: flex;
align-items: center;   
}
.imgLogo{
  width: 150px;
  margin-right: 10px;
}
.logo h5{
  color:grey
}
a{ display: flex;
  align-items: center;
  gap: 8px; 
  background-color:white;
  color:black;
  text-decoration: none;
  font-size: 20px;
}
.navbar{
  display:flex;
  gap:45px;

}
.router-link {
  text-decoration: none;
  /* color: black;
  padding: 3px 3px;      
  border-radius: 5px;
  border: 1px solid transparent;    
  transition: all 5s ease; */
}
.router-link:hover {
  color: white;
  background-color: black;

}
.logo {
  position: relative;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  border: 1px solid red;
  border-radius: 13px;
}