:root {
  color-scheme: white;
  color: rgba(0, 0, 0, 0.87);
}

.logo{
display: flex;
align-items: center;   
}
.imgLogo{
  width: 150px;
  margin-right: 10px;
}
.logo h5{
  color:grey
}
p {
  display: flex;
  align-items: center;
  gap: 8px; 
  background-color:white;
  /* border: 2px solid black;
  border-radius: 5px;
  padding: 5px; */
  font-size: 20px;
}
.navbar{
  display:flex;
  gap:45px;
  

}