    label{
      font-weight: bold;
    }
    div{
     margin: 20px;
     }
    h4 {
        text-align:justify; 
        border-bottom: 3px solid #000; 
        line-height: 0.1px;
        margin: 30px 0 20px;
        width: 100%;
        }
        
        h4 span { 
        background-color: #fff; 
        padding:1px 10px; 
        }

    .declaraciones h4 span { 
       background-color: #ffffff; 
       padding:1px 10px; 
    }

    form{
        margin-right: 100px;
    }
    .recuazul{
       display: flex;       
       align-items: flex-start;        
       background-color:rgb(190, 237, 244) ;            
    }
   .recuazul p{
        padding:1px;
    }
   .recuazul img{
        text-align: center;
        margin: 2px;
    }

    .icono1 {
    vertical-align: text-top;
    margin-right: 5px;
    }
    .error{
        color:red;
         font-weight: 900;
    }
    .mostrar{
        color:green;
         font-weight: 900;
    }
   .declaraciones {
        border-style: solid;
        border-top: none;
        padding: 15px;      
  
    }
   