
.logo {
  padding: 10px;
  background-color: white; 
  cursor: pointer;
}

.logo span {
  color: black;
}


.logo.activeMenu {
  background-color:black; 
  
}


.logo.activeMenu span {
  color: grey;
}


.iconMenu {
  filter: grayscale(0%);
  transition: filter 0.2s;
}
/* Al ser un svg tiene que hacerse asi Ajusta los valores hasta que se vea gris. */
.logo.activeMenu .iconMenu { 
  filter: brightness(0.5) invert(0.5);
}

.iconMenu{
    width: 25px;
    height: 25px;
}


