.texto img{
    color:grey;       
  
}
.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.value{
    font-size:20px;
}
.primeraSeccion{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}
.cardinfo-icon{
  width: 30px;
  height: 30px;
}


.segundaSeccion{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.card2{
  border: 3px solid #bdc0c4;
  border-radius: 12px;
  padding: 20px;
  width: 710px;
  margin:10px;
}
.tituloCard2 {
  display: flex;            
  align-items: center;      
  gap: 10px;                
}

.tituloCard2 img {
  width: 20px;   
  
} 

