.contenedor-formulario {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.formulario-explotacion {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
}

h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.grupo-input {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #34495e;
  font-size: 0.9rem;
}

input, textarea {
  padding: 10px;
  border: 1px solid #dcdde1;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

input:focus, textarea:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.2);
}

textarea {
  resize: vertical; /* Permite al usuario agrandarlo hacia abajo */
}

.fila-doble {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.boton-guardar {
  width: 100%;
  padding: 12px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.boton-guardar:hover {
  background-color: #219150;
}