/* FrontAG/src/components/Style/Parcelas.css */

/* .primeraSeccion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
} */

@media (max-width: 1200px) {
  .primeraSeccion {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .primeraSeccion {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .primeraSeccion {
    grid-template-columns: 1fr;
  }
}